/* CSS Document */
img{ max-width:100%;} 

body {
  font-size:36px;
}

.cfpage
{
  position: relative;
  padding-top:5px;
  padding-left:25px;
  outline: none;
  transition:all 0.3s;
  width:580px;
  height:650px;
  background:url('../../static/img/pop_big.png') no-repeat;
  -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cficon_money{
  width:56px;
  height:36px;
  background:url('../../static/img/money.png') no-repeat;  
  -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cficon_money.toplist{
 padding-left:60px;
}

.cficon_exp{
  width:52px;
  height:38px;
  -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfinfo_tabl{
line-height:40px;
}

.cfinfo_exp_bg{
width:223px;
height:48px;
text-align:center;
  background:url('../../static/img/icon_exp_bg.png') no-repeat;
  -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfinfo_exp_img{
margin-left:0px;
margin-top:0px;
width:223px;
height:48px;
  background:url('../../static/img/icon_exp.png') no-repeat;
}

.divcar1{
width:53px;
height:35px;
border:none;
}

.divcar2{
width:44px;
height:41px;
}

.divcar3{
width:53px;
height:42px;
}

.cfinfo_exp{
position:relative;
margin-top:-45px;
width:223px;
height:48px;
text-align:center;
}

.cfpage.player
{
  height:704px;
}

.cflogin_input_div {
position:absolute;
font-size:1.2em;
left:140px;
top:115px;
}

.cflogin_tip {
position:absolute;
color:blue;
left:140px;
top:670px;
color:black;
}

.cflogin_input {
width:285px;
border:none;
color:blue;
background:none;
}

td {
 font-size:28px;
  font-weight: bold;
}

.cfpage_text{
position:absolute;
font-size:23px;
font-weight:bold;
font-family:arial,serif;
}

.cfpage_text.playerinfo{
left:35px;
top:115px;
font-size:20px;
}

.cfpage_text.help{
left:170px;
top:280px;
}

.cfpage_text.toplist{
left:550px;
top:115px;
}

.cfpage_text.saving{
left:160px;
top:20px;
}

.cfpage_text.weektop{
left:378px;
top:20px;
}

.cfpage_text.level{
left:10px;
top:108px;
}

.cfpage_text.bank{
left:70px;
top:448px;
}

.cfpage_text.quest{
left:552px;
top:0px;
}

.cfpage_text.quest2{
left:-3px;
top:0px;
width:90px;
height:100px;
}

.cfpage_text.stock{
left:385px;
top:207px;
}

.cfpage_text.tip{
left:75px;
top:-75px;
width:88px;
height:101px;
z-index:200;
}

.cfpage_text.tip2{
left:75px;
top:-90px;
width:88px;
height:101px;
z-index:200;
}

.cfpage_text.stocktip{
left:35px;
top:-75px;
width:88px;
height:101px;
z-index:200;
}

.cfpage_text.stocktip2{
left:35px;
top:-90px;
width:88px;
height:101px;
z-index:200;
}

.cfpage_text.banktip{
left:75px;
top:-75px;
width:88px;
height:101px;
z-index:200;
}

.cfpage_text.banktip2{
left:75px;
top:-90px;
width:88px;
height:101px;
z-index:200;
}

.cfpage_text.insure{
left:342px;
top:622px;
}

.cf_bt{
  border:none;
  width:174px;
  height:64px;
background:url('../../static/img/bt_yellow.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%; 
}

.cf_bt.questprize {
	font-size:23px;
float:right;
  width:120px;
  height:45px;
}

.cf_bt.pagingleft {
  position: relative;
  float:left;
}
.cf_bt.pagingright {
  float:right;
  margin-right:15px;
}

.cf_bt_green{
border:none;
width:227px;
height:58px;
color:#ffffff;
 background:url('../../static/img/bt_green_left.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_bt_green.right{
 background:url('../../static/img/bt_green_right.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_paging {
  position: relative;
  margin-left:80px;
  line-weight:50px;
  width:300px;
  text-align:center;
  color:pink;
}

.cfsaving_div {
margin-top:-10px;
text-align:center;
}

.cfsaving_stext {
float:right;
color:green;
font-size:30px;
}

.cfsaving_stext.out {
color:red;
}

.cfsaving_content {
text-align:left;
line-height:60px
}

.cfsaving_qty {
width:220px;
text-align:center;
height:58px;
font-size:30px
}

.cfplayer_head_bg{
width:120px;
height:120px;
vertical-align: bottom;
  background:url('../../static/img/player_head_bg.png') no-repeat;
  -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfplayer_head_bg.insure{
margin-left:30px;
}

.cfplayer_head_bg.event{
left:30px;
margin-left:30px;
}

.cfplayer_head_bg.event.bad{
  background:url('../../static/img/player_head_bg2.png') no-repeat;
  -moz-background-size:100% 100%;  
    background-size:100% 100%;    
}


.cfplayer_head_bg.uplevel{
margin-left:180px;
}

.cfevent_content{
height:140px;
}

.cfevent_desc{
position:relative;
margin-left:20px;
width:280px;
text-align:left;
}

.cfevent_get{
position:relative;
margin-top:30px;
left:-50px;
}

.cfplayer_panel_text{
padding-left:30px;
font-size:28px;
}

.cfplayer_panel {
margin-left:-10px;
margin-top:10px;
padding-left:20px;
padding-top:5px;
width:549px;
height:234px;
  background:url('../../static/img/player_panel_bg.png') no-repeat;
  -moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfplayer_info {
margin-left:-10px;
margin-top:30px;
}

.cfplayer_info3 {
width:130px;
}

.cfplayer_info2 {
font-size:20px;
width:200px;
vertical-align:top;
}

.cfplayer_pie {
margin-left:-10px;margin-top:-30px;
}

.cfhelp{

}

.cfhelp_info{
position:relative;
left:110px;
top:90px;
}

.cfhelp_info_text{
position:relative;
margin-left:90px;
display:block; 
}

.cfhelp_quest{
position:relative;
left:400px;
top:-100px;
}

.cfhelp_quest_text{
position:relative;
margin-left:-30px;
display:block; 
}
.cfhelp_quest_img{
    -webkit-transform: rotateY(180deg);
    -moz-transform: skew(0deg, 120deg) scale(-1, 1);
    -o-transform: skew(0deg, 180deg) scale(-1, 1);
    transform: rotateY(180deg);
}

.cfhelp_toplist{
position:relative;
left:440px;
}

.cfhelp_toplist_text{
position:relative;
margin-top:30px;
margin-left:-40px;
display:block; 
}
.cfhelp_toplist_img{
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
}

.cfpanel_title{
color:yellow;
font-weight:bold;
}

.cfpanel_title.small{
font-size:32px;
}

.cfpanel_text{
position:relative;
float:left;
padding-right:10px;
line-weight:23px;
font-size:28px;
}

.cfpanel_text.right{
position:relative;
float:right;
}

.cfmsg_text{
position:relative;
text-align:center;
line-weight:23px;
font-size:28px;
height:275px;
}

.cfmsg_text.insure{
margin-top:40px;
height:420px;
}

.cfmsg_text.uplevel{
position:relative;
text-align:center;
line-weight:23px;
font-size:28px;
height:150px;
}

.cfpanel
{
  position: relative;
  padding-left:10px;
  padding-top:6px;
  width:95%;
  height:100px;
  margin-top:8px;
 background:url('../../static/img/panel_bg.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfpanel.bank2{
	margin-bottom:20px;
}
.cfpanel.bank{
  margin-top:20px;
  margin-bottom: 10px;
  padding-left:20px;
  padding-top:20px;
  width:534px;
  height:348px;
  background:url('../../static/img/bank_bg.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;   
}

.cfpanel_body{
 height:520px;
}

.cfpagedetail
{
  position: relative;
  padding: 20px;
  margin: 0 0 15px;
  width:580px;
color:rgb(39,88,104);
 background:url('../../static/img/popd_big.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfpagedetail.stock
{
  position: relative;
  padding: 20px;
  margin: 0 0 15px;
  background:url('../../static/img/popd_big2.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;    
  width:580px;
  height:940px;
}

.cfpagedetail.small
{
margin-left:30px;
margin-top:30px;
width:520px;
height:477px;
 background:url('../../static/img/popd_small.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfpagedetail.small.saving
{
 background:url('../../static/img/popd_small2.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
width:516px;
height:457px;
}

.cfpagedetail.uplevel
{
margin-top:-300px;
margin-left:65px;
width:516px;
height:457px;
 background:url('../../static/img/popd_small.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cfpagedetail.insure
{
  background:url('../../static/img/popd_big.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
  height:600px;
}

.cfhelp_clickon{
width:165px;
height:170px;
}

.cfinsure_tabl{
margin-left:10px;
width:500px;
text-align:left;
}

.cfinsure_desc{
margin-left:30px;
}

.cfinsure_tabl2{
width:300px;
margin-left:180px;
border:2px;
text-align:left;
}

.cfinsure_img{
width:120px;
height:120px;
}

.cfinsure_clickon{
width:234px;
height:317px;
}

.cfbank_clickon{
width:200px;
height:308px;
}

.cfbank_div {
position:absolute;
left:70px;
top:448px;
width:200px;
height:308px;
z-index:10;
}

.cfstock_div {
position:absolute;
left:385px;
top:207px;
width:214px;
height:390px;
z-index:10;
}

.cfinsure_div {
position:absolute;
left:342px;
top:622px;
width:234px;
height:317px;
z-index:10;
}

.cfstock_clickon {
width:214px;
height:390px;
}

.cfstock_qtime0{
position:relative;
width:530px;
height:32px; 
background: green; 
border:1px solid black;
}

.cfstock_qtime{
position:relative;
height:30px; 
font-size:20px;
background: yellow; 
text-align:center;
}

.cfstock_content {
height:200px;
}

.cpgapedetail_h2 {
margin-left:5px;
margin-top:5px;
margin-bottom:-5px;
font-size:35px;
}
.cpgapedetail_h2.left{
float:left
}

.cfprop {
width:190px;
height:64px;
padding-left:43px;
color:#000000;
}
.cfprop.p1 {
background:url('../../static/img/prop_bg1.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cfprop.p2 {
background:url('../../static/img/prop_bg2.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cfprop.p3 {
background:url('../../static/img/prop_bg3.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cfprop.p4 {
background:url('../../static/img/prop_bg4.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cfprop.p5 {
background:url('../../static/img/prop_bg5.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cfmsg_h2 {
margin-top:-5px;
color:#ffffff;
}

.cf_line {
width:530px;
height:2px;
}

.cf_title_bg {
float:left;
margin-left:15px;
vertical-align: bottom;
border:none;
font-size:35px;
width:268px;
height:69px;
color: #ffffff;
background:url('../../static/img/title_bg.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_title_bg.savingon {
  margin-top:-69px;
background:url('../../static/img/title_saving_on.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cf_title_bg.saving2off {
  margin-left:225px;
background:url('../../static/img/title_saving2_off.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cf_title_bg.savingoff {
background:url('../../static/img/title_saving_off.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_title_bg.saving2on {
  margin-top:-69px;
  margin-left:225px;
background:url('../../static/img/title_saving2_on.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}


.cf_title_bg.won {
  margin-top:-69px;
background:url('../../static/img/title_toplist_won.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cf_title_bg.moff {
  margin-left:225px;
background:url('../../static/img/title_toplist_moff.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_title_bg.woff {
background:url('../../static/img/title_toplist_woff.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cf_title_bg.mon {
  margin-top:-69px;
  margin-left:225px;
background:url('../../static/img/title_toplist_mon.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.cf_title {
position:relative;
float:left;
margin-left:25px;
margin-top:18px;
width:185px;
height:41px;
font-size:28px;
font-weight: bold;
color:#ffffff;
border:none;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_top {
  margin-left: -15px;
  margin-top:10px;
  padding-left: 10px;
  width: 560px;
  height:550px;
}

.cf_top_header{
 padding-left:10px;
  width: 550px;
  height: 50px;
  vertical-align:middle;
background:url('../../static/img/top_title_bg.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;    
}

.cfsignin_prize {
position:absolute;
display:block; 
left:250px;
top:70px;
z-index:3000;
}

.cfsignin_prize.exp {
left:135px;
}

.cfsignin_mmdesc {
padding-left:30px;
}

.cfevent_prize {
position:absolute;
display:block; 
color:red;
left:300px;
top:0px;
z-index:3000;
}

.cf_top_zan{
  border: none;
  width: 31px;
  height: 28px;
background:url('../../static/img/zan.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;    
}

.cf_top_share{
  border: none;
  width: 30px;
  height: 32px;
background:url('../../static/img/bt_share.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;    
}

.cf_top_zan_me{
  border: none;
  width: 31px;
  height: 28px;
background:url('../../static/img/zan.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;    
}
.cf_count {
width:80px;
height:58px;
margin-top:0px;
border:none;
background:url('../../static/img/bt_minus.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_count.insure{
margin-top:0px;
}

.cf_count.add {
background:url('../../static/img/bt_add.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.cf_count.add.insure {
margin-top:0px;
}

.cf_title_close{
float:right;
  width:77px;
  height:71px;
  margin-right:15px;
}

.cf_title_close.top{
  margin-right:8px;
}

.cf_bt.bt_cancel{
background:url('../../static/img/bt_blue.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%; 
}
.cfpage_content{
margin-top:10px;
margin-left:20px;
}

.cf_font2 {
color:yellow;
}

.cf_font3 {
margin-top:10px;
color:blue;
}

.cf_font4 {
margin-top:10px;
color:red;
}

.cffeelingimg {
width:99px;
height:114px;
}
.cffeelingword {
width:40px;
height:41px;
}

.cf_signin_feeling{
margin-left:-15px;
margin-top:5px;
}
.cf_signin_feeling2{
margin-left:-5px;
width:534px;
height:230px;
background:url('../../static/img/signin_bg.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%; 
}

.cf_feeling{
margin-left:15px;
width:3px;
margin-top:20px;
padding-bottom:20px;
}

.cftoplist_td {
font-size:30px;
}

.cftoplist_content {
text-align:center;
width:160px;
}

.cftoplist_desc{
margin-left:-200px;
text-align:left;
font-size:24px;
width:500px;
}

.cftoplist_top{
width:48px;
height:55px;
}

.cftoplist_c2 {
width:60px;
}

.cftoplist_c3 {
margin-left:10px;
width:60px;
}

.cftoplist_c4 {
text-align:center;
width:100px;
}

.cftoplist_c5 {
width:190px;
}

.cftoplist_c6 {
padding-left:30px
}

.cftoplist_c6.me {
float:top;
}
.cfsignin_feelingimgs{
padding-top:30px;
padding-left:20px;
padding-right:20px;
width:140px;
text-align:center;
}

.cfuplevel_img {
margin-left:70px;
width:500px;
height:500px;
}

.cfuplevel_block {
margin: auto;
text-align:center;
margin-top:-70px
}

.cfsignin_content {
margin-left:10px;margin-top:5px;
}

.cfquest_td {
width:450px;
}
.cfquest_icon {
width:78px;height:27px;
}

.cfinsure_tip {
margin-top:10px;font-size:25px;color:pink;
}

.cfinsure_content {
margin-top:-10px;text-align:center;
}

.cfinsure_finan {
margin-top:-10px;margin-bottom:30px;height:150px;
}

.cfinsure_finalcount {
width:340px;
text-align:center;
height:58px;
font-size:32px;
}

.cfmsg {
position:absolute;
left:60px;
top:350px;
width:476px;
font-size:32px;
height:102px;
color:yellow;
text-align:center;
filter:alpha(opacity=95);  /*支持 IE 浏览器*/
-moz-opacity:0.95; /*支持 FireFox 浏览器*/
opacity:0.95;  /*支持 Chrome, Opera, Safari 等浏览器*/
background:url('../../static/img/tip_back.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%; 
z-index:2000;
}

.cfmsg.load{
padding-top:25px;
}

.cfmsg_loadimg{
position:relative;
left:0px;
top:0px;
width:40px;
height:40px;
}

.cfmsg_loadimg.pp{
width:16px;
}

.td_right {
position:right;
}
