/* CSS Document */
img{ max-width:100%;} 

body {
margin-left:20px;
  font-size:36px;
  width:580px;
  background-color:#FAFAD2;
}

.goods {
width:100%;
}

.goods {
border:none;
}
.goods.img {
width:30%;
}

.goods.ps {
color:red;
}

.goods.title{
font-size:30px;
}

.goods.desc{
font-size:25px;
}

.line {
width:100%;
height:1px;
margin:0px auto;
padding-top:5px;
padding-bottom:5px;
padding:0px;
background-color:#D5D5D5;
overflow:hidden;
}

.goodsImg{
width:150px;
height:150px;
}

div {
margin-top:20px;
margin-bottom:20px;
}

.groupDesc {
font-size:25px;
width:90%;
}

button {
background-color:#EECFA1;
width:90%;
}

table {
background-color:#ffffff;
width:90%;
}

td {
border:1px solid #D9D9D9;
padding:5px;
padding-left:20px;
height:200%;
}


input {
width: 90%;
}

.rr {
width:5%;
}
.menu2
{
  background-color:#EECFA1;

}
.nav.cat{
  background-color:#EECFA1;
}

.nav.nav-primary
{
 background-color:#EECFA1;

}

.wsgoods_value {
width:180px;
text-align:center;
}

.wsgoods_count {
width:80px;
height:58px;
margin-top:0px;
border:none;
background:url('../../static/img/bt_minus.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.wxhao {
}

.wsgoods_count.add {
background:url('../../static/img/bt_add.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}