/* CSS Document */
img{ max-width:100%;} 

body {
  font-size:36px;
  width:580px;
}

.wsgoods_value {
width:180px;
text-align:center;
}

.wsgoods_count {
width:80px;
height:58px;
margin-top:0px;
border:none;
background:url('../../static/img/bt_minus.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}

.wsgoods_count.add {
background:url('../../static/img/bt_add.png') no-repeat;
-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}